:root {
    --cor-de-fundo: #EBECEE;
}

.pesquisa {
    text-align: center;
}

h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1000px;
    text-align: center;
}