:root {
    --cor-de-fundo: #EBECEE;
}

body {
    display: flex;
}

.pesquisa {
    text-align: center;
}

.clicavel {

}

h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}